<html>
    <head>
        <link rel="stylesheet" href="/css/custom.css">
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>To Do List</title>
    </head>
    <body>
        <div class="container">
        <h1>{{ category.getName }}</h1>

        {% if tasks is not empty %}
            <p>Here are the tasks:</p>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a task</h4>

        <form action='/tasks' method='post'>
            <input id='category_id' name='category_id' type='hidden' value='{{ category.getId() }}'>
            <label for ='description'>Task Description</label>
            <input id='description' name='description' type='text'>

            <button type='submit'>Add task</button>
        </form>

        <p><a href='/'>Home</p>
        </div>
    </body>
</html>
