<!DOCTYPE html>
<html>
<head>
    <link href="css/custom.css" rel='stylesheet' type="text/css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>To Do List</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to To Do List</h1>

        <p><a href="/categories">Click here</a> to see all of the categories and to add a category.</p>
        <p><a href="/tasks">Click here</a> to see all of the tasks and to add a task.</p>

        <h3>Search for a task:</h3>
        <form action="/task_search_results" method="get">
            <label for="search_name">Task Name</label>
            <input id="search_name" name="search_name" type="text">

            <button class="btn btn-primary" type="submit">Search for task</button>
        </form>

    </div>

</body>
</html>
