<html>
    <head>
        <link rel="stylesheet" href="/css/custom.css">
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>To Do List</title>
    </head>
    <body>
        <div class="container">
        <h1>Tasks</h1>
        {% if tasks is not empty %}
            <p>Here are all your tasks:</p>
            <ul>
                {% for task in tasks %}
                    <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}, {{ task.getDueDate }}</a>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="status" value="0" name="status">
                        </label>
                    </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/tasks" method="post">
            <label for="description">Task Name</label>
            <input id="description" name="description" type="text" REQUIRED>

            <label for="due_date">Task Due Date</label>
            <input id="due_date" name="due_date" type="date">
            <button type="submit" class="btn btn-default">Add task</button>
        </form>
        <form action="/delete_tasks" method="post">
            <button class="btn btn-danger" type="submit">Clear</button>
        </form>
        <br/>
        <a href="/"><button class="btn btn-default">Home</button></a>
    </div>
    </body>
</html>
